.pagination {
    display: inline-block;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #F1F1F1;
    color: #5D636F;
    border: 1px solid #EDF0F1;
  }
  .next{
    background-color: #7DC142;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color:#FFFFFF !important;
  }
  
  .pagination a:hover:not(.active):not(.next) {background-color: #ddd;}