
<div class="headerMenu">
    <div class="leftNav">
      <img width="300px" class="pt5" src="assets/Images/logo.png">
    </div>
    <div class="rightNav">
      <ul>
        <li><button class="hdrBtn">Place an Ad</button></li>
        <li>Buyer Inquiries</li>
        <li>Support</li>
        <li>Pricing</li>
        <li><i class="fas fa-user"></i></li>
      </ul>
    </div>
</div>
<div class="banner-image">
  <div class="banner-text"> Suyog Enterprises</div>
  <div class="banner-Subtext">
    <i class="fas fa-check-circle banner-icon"></i>
    <div class="pt5"> Verified Supplier</div>
  </div>
</div>
<div class="content">
  <div class="content-row">
    <router-outlet></router-outlet>
  </div>
</div>
